In [1]:
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.decomposition import PCA
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import SpectralEmbedding
from mpl_toolkits.mplot3d import Axes3D
from sklearn.manifold import TSNE
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import pairwise_distances
from sklearn.metrics import pairwise_distances_argmin_min
from scipy.cluster.hierarchy import ward, fcluster
from scipy.cluster.hierarchy import dendrogram, linkage
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.io import output_notebook

In [7]:
# Read in the basketball-reference dataframe
df = pd.read_csv(r"C:\Users\vaugh\Desktop\basketball-pf-research\Basketball-reference data\heights_and_positions_df(2001-2024).csv")
height_pos_df = df.drop(columns = ['Unnamed: 0'])

In [8]:
height_pos_df

                Player Pos    Ht   Roster
0          Bruce Bowen  SF   6-7  2001MIA
1       Anthony Carter  PG   6-1  2001MIA
2       Duane Causwell   C   7-0  2001MIA
3      Cedric Ceballos  SF   6-7  2001MIA
4          Ricky Davis  SG   6-6  2001MIA
...                ...  ..   ...      ...
13216   Nick Smith Jr.  SG   6-2  2024CHO
13217          JT Thor  PF  6-10  2024CHO
13218  P.J. Washington  PF   6-7  2024CHO
13219   Grant Williams  PF   6-6  2024CHO
13220    Mark Williams   C   7-0  2024CHO

[13221 rows x 4 columns]

In [9]:
height_pos_df[height_pos_df['Player'] == 'Team Totals']

Empty DataFrame
Columns: [Player, Pos, Ht, Roster]
Index: []

In [11]:
# Read in the basketball-reference dataframe
df = pd.read_csv(r"C:\Users\vaugh\Desktop\basketball-pf-research\Basketball-reference data\heights_and_positions_df_withMP(2001-2024).csv")
df = df.drop(columns = ['Unnamed: 0'])

In [12]:
df

                Player  Pos   G     MP   Roster
0        Anthony Mason   PF  80   40.7  2001MIA
1          Eddie Jones   SG  63   36.2  2001MIA
2         Tim Hardaway   PG  77   33.9  2001MIA
3          Brian Grant    C  82   33.8  2001MIA
4          Bruce Bowen   SF  82   32.7  2001MIA
...                ...  ...  ..    ...      ...
13921      Leaky Black   SF  26   10.9  2024CHO
13922  Frank Ntilikina   PG   5    8.6  2024CHO
13923     Amari Bailey   PG  10    6.5  2024CHO
13924  James Bouknight   SG  14    5.8  2024CHO
13925      Team Totals  NaN  82  240.6  2024CHO

[13926 rows x 5 columns]

In [13]:
df[df['Player'] == 'Team Totals']

            Player  Pos   G     MP   Roster
16     Team Totals  NaN  82  242.4  2001MIA
33     Team Totals  NaN  82  242.1  2001CHI
53     Team Totals  NaN  82  242.1  2001PHI
73     Team Totals  NaN  82  240.6  2001NJN
96     Team Totals  NaN  82  241.2  2001GSW
...            ...  ...  ..    ...      ...
13832  Team Totals  NaN  82  241.2  2024MEM
13855  Team Totals  NaN  82  241.5  2024OKC
13877  Team Totals  NaN  82  241.5  2024BRK
13898  Team Totals  NaN  82  240.3  2024NOP
13925  Team Totals  NaN  82  240.6  2024CHO

[716 rows x 5 columns]